body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #F0FFFF;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#4169E1;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#FF7F50;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    padding: 50px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .calculate {
    margin: 30px;
    padding: 30px;
   color: #4169E1;
   padding: 10px;
  }
  
  input { 
    
  border-color:#CD853F;
  border-radius: 5px;}